---
const today = new Date();
const {
	quote = 'What I cannot create, I do not understand.',
	fine = false,
} = Astro.props;
---

<footer>
	<p class:list={['footer-quote', { 'footer-quote-fine': fine }]}>
		&ldquo;{quote}&rdquo;
		<span class="footer-quote-attribution">&mdash; Richard Feynman</span>
	</p>
	<span>&copy; {today.getFullYear()} Raghavan Muthuregunathan</span>
	<span>retrieval -> evals -> production</span>
</footer>
